/*------------------ Tablet portrait--------------------- */

@media (min-width:601px) {
    .App {
        background-image: url('../images/paul-gilmore-ho0pa0twtwe-unspl-mobile-devices.jpg')
    }
    /* ----------------------------Navigation bar------------------------------ */
    #nav-container {
        /* border:1px solid black; */
        font-size: 80%;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
    }
    #greeting-message {
        display: none;
    }
    .wrapper-inner-tab-backgrounds {
        /* border: 1px solid yellow; */
        display: inline;
        padding: 10px;
        position: fixed;
        right: -40px;
        top: 0%;
        float: right;
        width: 100%;
        height: 15%;
    }
    .wrapper-inner-tab-background {
        position: relative;
        justify-content: center;
        top: -10px;
        display: inline-block;
        float: right;
        height: max-content;
        width: 20%;
    }
    .sim-button {
        line-height: 15px;
        height: 50px;
        text-align: center;
        margin-top: 25px;
        width: 80%;
        cursor: pointer;
    }
    .button11 {
        font-size: 22px;
        color: whitesmoke;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        position: relative;
        perspective: 2000px;
    }
    .button11 a {
        color: whitesmoke;
        text-decoration: none;
        display: block;
    }
    .button11 span {
        z-index: 2;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .button11::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.25);
    }
    .button11::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.25);
    }
    .button11:hover::before {
        -webkit-transform: rotateX(60deg) translate(0px, 40px);
        transform: rotateX(60deg) translate(0px, 40px);
    }
    .button11:hover::after {
        -webkit-transform: rotateX(-60deg) translate(0px, -40px);
        transform: rotateX(-60deg) translate(0px, -40px);
    }
    /*---------------------------------- Login page------------------------------- */
    #login-container {
        left: 15%;
        top: 10%;
        width: 70%;
        height: 45%;
    }
    .login-input {
        top: 150px;
        right: 10%;
        margin: 20px;
    }
    .login-input-btn {
        position: relative;
        top: 200px;
        width: 35%;
        right: 0%;
    }
    .login-text label {
        position: relative;
        top: 150px;
        font-size: 20px;
    }
    .login-text h1 {
        top: 100px;
    }
    /*---------------------------------- User home page----------------------------  */
    .homepage-container {
        top: 15%;
    }
    .user-page-container h1, .wedding-date h2 {
        font-size: 55px;
    }
    .event {
        float: right;
    }
    .event h3 {
        font-size: 45px;
        padding-bottom: 25px;
    }
    .event span {
        font-size: 15px;
        padding-top: 25px;
        padding: 10px;
    }
    .event p {
        padding-top: 20px;
        font-size: 20px;
    }
    #main-ceremony {
        /* border:1px solid blue; */
        font-size: 15px;
        position: relative;
        left: 10px;
    }
    #wedding-party {
        /* border: 1px solid red; */
        font-size: 15px;
        position: relative;
        margin-top: 25px;
        left: -0px;
    }
    .create-guest-container {
        height: 80%;
        width: 80%;
        font-size: 15px;
        left: 10%;
    }
    /*------------------------------ Create guest list--------------------- */
    .guest-container {
        top: 10%;
    }
    .guest-names {
        font-size: 15px;
    }
    .create-guest-button {
        position: relative;
        top: 15%;
        left: 50%;
        width: 45%;
    }
    .success-message {
        color: greenyellow;
        height: 10%;
        width: 120%;
        font-size: 20px;
        left: -10%;
        top: 17%;
    }
    /*----------------------------- Display guest list---------------------- */
    .guest-container {
        top: 15%;
        height: 85%;
    }
    .guests h3 {
        /* border: 1px solid red; */
        position: relative;
        left: 40%;
        font-size: 65px;
    }
    .guests h5 {
        /* border: 1px solid red; */
        right: 25%;
    }
    #status-question-container {
        top: 10%;
        left: 2%;
        align-items: center;
        text-align: center;
        font-family: "Georgia", cursive;
        font-size: 17px;
    }
    #check-attendence {
        display: none;
    }
    .status {
        width: fit-content;
        position: relative;
        left: 45%;
        top: 15px;
    }
    .guest-button input {
        position: relative;
        top: -3px;
        margin: 1px;
        height: 25px;
        width: 15%;
        background-color: transparent;
        color: white;
    }
    #confirm-status {
        left: 15%;
        width: 20%;
    }
    #delete-guest {
        font-size: 10px;
        left: 17%;
        width: 30%;
    }
    #total-guests {
        color: greenyellow;
        background-color: black;
        height: fit-content;
        font-size: 15px;
        position: fixed;
        top: 16%;
        left: 75%;
    }
    .select-box {
        left: 20%;
        bottom: 40px;
    }
    #isComing {
        position: relative;
        top: -20px;
        left: 10px;
        height: fit-content;
        display: block
    }
    /* Display all weddings - admin */
    #weddings-container {
        /* border: 1px solid red; */
        overflow: auto;
        height: 65%;
        top: 5%;
    }
    #weddings-container h2 {
        /* border: 1px solid yellow; */
        width: 70%;
        font-size: 85px;
        left: 20%;
    }
    #all-weddings {
        top:-15%;
        height: 60%;
    }
    .wedding {
        /* border: 10px solid yellow; */
        bottom: 30%;
        left: 25%;
        margin: 20px;
        width: 50%;
        font-size: 20px;
    }
    /* Display wedding details - admin */
    .wedding-details-container {
        top: 10%;
        height: 90%;
    }
    .wedding-details {
        top: 7%;
        font-size: 20px;
    }
    .wedding-details-container h5 {
        position: relative;
        top: 20%;
        left: 2%;
    }
    /* Display create wedding page - admin */
    .create-wedding-container {
        height: 80%;
        width: 100%;
        top: 15%;
        font-size: 20px;
    }
    .create-wedding {
        left: 7%;
        top: 10px;
        width: 140px;
        grid-template-columns: 130px 120px 120px;
    }
    .create-wedding-input {
        height: 25px;
        width: 150px;
        margin: 10px;
        font-size: 10px;
    }
    #create-wedding-button {
        background-color: greenyellow;
        font-weight: bold;
        color: black;
        height: 60%;
        width: 100%;
        top: 150px;
        left: 0%;
        font-size: 20px;
    }
    .confirm-message {
        border: 1px solid whitesmoke;
        border-radius: 20px;
        background-color: whitesmoke;
        color: black;
        text-align: center;
        width: 25%;
        position: absolute;
        left: 2%;
        top: -10%;
        font-size: 10px;
    }
}